<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated er_crows_foot -->
      <package
            uri="http://www.kybele.es/gmf/er_crows_foot"
            class="er_crows_foot.Er_crows_footPackage"
            genModel="model/er_crows_foot.genmodel"/>
   </extension>

</plugin>
